[Unit]
Description=SOTA Secondary ECU Installer
Requires=network-online.target
After=network-online.target

[Service]
RestartSec=10
Restart=always
ExecStart=/usr/bin/map-installer.sh

[Install]
WantedBy=multi-user.target
