[Unit]
Description=SOTA Secondary ECU Installer
Requires=network-online.target
After=network-online.target

[Service]
RestartSec=10
Restart=always
ExecStart=/usr/bin/sota-installer --level debug --oneshot --config /var/sota/${SOTA_SECONDARY_ECU_SERIAL}.toml overwrite --path /var/maps/map.mbtiles

[Install]
WantedBy=multi-user.target
